.todo-content {
    color: black;
}

.todo-date {
    color: gray;
    font-size: 12px;
}

.crossed {
    text-decoration: line-through;
    color: gray;
}

.checkbox-md {
    width: 15px;
    height: 15px;
}